@import "../../../node_modules/bootstrap/scss/functions";
@import "reset";
@import "variables";
@import "../../../node_modules/bootstrap/scss/mixins";
@import "~bootstrap";
@import "breakpoint";
@import "mixin";
@import "utilit";
@import "uiCover";
@import "components";


body {
    color: #737373;
    font-family: Open Sans, sans-serif;
    ::-webkit-scrollbar { 
        display: none !important;
    }
    &::-webkit-scrollbar { 
       display: none;
    }
    
    &::-webkit-scrollbar-track {
        display: none;
    }
    
    &::-webkit-scrollbar-thumb { 
       display: none;
    }
}
a {
    text-decoration: none;
    color: $secondary;
    &.color-link {
        color: $primary;
    }
}